<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72598905837-u06vbfhghl1oeomfjtsqpe3n39m7g9vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72598905837-u06vbfhghl1oeomfjtsqpe3n39m7g9vq</string>
	<key>API_KEY</key>
	<string>AIzaSyDnhKBKs9l0VvR7O2NpA2GRYFnwgQ3MsBk</string>
	<key>GCM_SENDER_ID</key>
	<string>72598905837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dauka.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios13-angela-yu</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios13-angela-yu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72598905837:ios:f1c1d567f792bbf2427de4</string>
</dict>
</plist>